


<div class="form" >
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
             <P>Crop Type_______________</P>
             <P>Crop Name________________</P>
             <p>Base Price________________</p>
               
                <br>
                <br>
                
         <Button type="submit" class="bidbtn">Current Bid Amount</Button>
            

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Previous Bids</p>
<p>-----</p>
<p>------</p>
<p>-----</p>
<br>
<br>
<br>
<br>
<br>

</div>